<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre, :label => 'Nombre'%>
    <%= f.input :rfc, :label => 'RFC'%>
    <%= f.input :calle, :label => 'Calle' %>
    <%= f.input :numexterno, :label => 'Número exterior' %>
    <%= f.input :numinterno, :label => 'Número interior', :hint => 'De existir' %>
    <%= f.input :colonia, :label => 'Colonia' %>
    <%= f.input :codpostal, :label => 'Código postal' %>
    <%= f.input :delegacion, :label => 'Delegación/Municipio' %>
    <%= f.input :ciudad, :label => 'Ciudad' %>
    <%= f.input :estado, :label => 'Estado' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
