<h2>Añadir artículos a la factura</h2>

<table class="table table-hover">
  <tr>
    <th>Artículo</th>
    <th>Precio unitario</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
    <th>Iva</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articulos_facturas.each do |articulos_factura| %>
  <tr>
    <td><%= @articulos.each do |articulo| %>
         <%= articulo.nombre %></td>
    <% end %>
    <td><%= articulos_factura.precio_u %></td>
    <td><%= articulos_factura.cantidad %></td>
    <td><%= articulos_factura.subtotal %></td>
    <td><%= articulos_factura.iva %></td>
    <td><%= link_to 'Editar', edit_articulos_factura_path(articulos_factura) %></td>
    <td><%= link_to 'Eliminar', articulos_factura, confirm: '¿Está seguro(a)?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Añadir artículo', new_articulos_factura_path %>
