<%= simple_form_for(@subcuentum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :alias, :required => true, :hint => 'Proporcionado por el administrador', :label => 'Alias' %>
    <%= f.input :rfc, :required => true, :label => 'RFC', :placeholder => 'De la empresa'%>
    <%= f.input :password, :required => true, :label => 'Contraseña', :hint => 'Proporcionada por el administrador' %>
    <%= f.input :password_confirm, :required => true, :label => 'Confirmar contraseña' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
