<h1>Subcuentas asociadas</h1>

<table class="table table-hover">
  <tr>
    <th>Alias</th>
    <th>Contraseña</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcuenta.each do |subcuentum| %>
  <tr>
    <td><%= subcuentum.alias %></td>
    <td><%= subcuentum.password %></td>
    <td><%= link_to 'Mostrar', subcuentum %></td>
    <td><%= link_to 'Editar', edit_subcuentum_path(subcuentum) %></td>
    <td><%= link_to 'Eliminar', subcuentum, confirm: '¿Está seguro(a)?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Añadir subcuenta', new_subcuentum_path %>
