<%= simple_form_for(@factura) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :articulos, collection: User.find(1).articulos, include_blank: false %>
    <%= f.input :precio_u, :label => 'Precio unitario' %>
    <%= f.input :cantidad, :label => 'Cantidad de artículos' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
