<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/css.css">
    <title>Factura</title>
</head>
<body>
  <div class="container">
  <header>
    <div class="emblema"><img src="http://designreviver.com/wp-content/uploads/2009/11/LOGO1.gif" id="logo" alt=""></div>
    <div class="datos">
    <h1><%= current_user.empresa %></h1>
    <p class="letra">Dirección de la empresa <br>55-55555555 <br><%= current_user.email %><br>México</p>
    </div>
      </div>

<div style="display: none">
<%= i = 0 %>
</div>
      
      
    </header>
    <table class="tabla">
      <tr>
  <td >Direccion: <br>Nombre: <br> RFC:</td>

  
</tr>
    </table>
    <table class="tabla">
      

<tr>
  <th class="tabla">Cant.</th> 
  <th class="tabla large">Concepto</th>
  <th class="tabla">Precio</th>
  <th class="tabla">Iva</th>
  <th class="tabla">Neto</th>
  
</tr>
<% @articulos_facturas.each do |articulo| %>
<tr>
   <td class="tabla"><%= articulo.cantidad %></td> 
  <td class="tabla"><%= @articulos[i].nombre %></td>
  <td class="tabla"><%= articulo.precio_u*articulo.cantidad %></td>
  <td class="tabla"><%= articulo.precio_u*articulo.cantidad*0.16 %></td>
  <td class="tabla"><%= articulo.precio_u*articulo.cantidad*1.16 %></td>
</tr>
<div style="display: none">
<%= i = i + 1 %>
</div>
<% end %>
    </table>
    <table class="tabla">
      <tr>
        <td class="tabla letra2 alto2">Precio $0000 <br><br><br>Subtotal $000000 <br><br><br>Total $00000</td>
      </tr>
      <tr>
        <td class="tabla alto2"><img src="http://joselspovi.files.wordpress.com/2013/12/codigo-qr.jpg" width="200px" alt=""> *AQUI VA LA CADENA!*</td>
      </tr>
    </table>
  </div>
</body>
   
  
  </html>

