<p id="notice"><%= notice %></p>

<p>
  <b>Precio u:</b>
  <%= @factura.precio_u %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @factura.cantidad %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @factura.subtotal %>
</p>

<p>
  <b>Iva:</b>
  <%= @factura.iva %>
</p>

<p>
  <b>Total:</b>
  <%= @factura.total %>
</p>


<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
