<%= simple_form_for(@sucursal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :alias, :required => true, :placeholder => 'Referencia a la sucursal', :label => 'Alias', :hint => 'Nombre que aparecerá al facturar para seleccionar sucursal' %>
    <%= f.input :calle, :required => true, :label => 'Calle' %>
    <%= f.input :numexterno, :required => true, :label => 'Número exterior' %>
    <%= f.input :numinterno, :required => true, :label => 'Número interior', :hint => 'De existir' %>
    <%= f.input :colonia, :required => true, :label => 'Colonia' %>
    <%= f.input :codpostal, :required => true, :label => 'Código postal' %>
    <%= f.input :delegacion, :required => true, :label => 'Delegación/Municipio' %>
    <%= f.input :ciudad, :required => true, :label => 'Ciudad' %>
    <%= f.input :estado, :required => true, :label => 'Estado' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
