<p id="notice"><%= notice %></p>

<p>
  <b>Alias:</b>
  <%= @sucursal.alias %>
</p>

<p>
  <b>Calle:</b>
  <%= @sucursal.calle %>
</p>

<p>
  <b>Numexterno:</b>
  <%= @sucursal.numexterno %>
</p>

<p>
  <b>Numinterno:</b>
  <%= @sucursal.numinterno %>
</p>

<p>
  <b>Colonia:</b>
  <%= @sucursal.colonia %>
</p>

<p>
  <b>Codpostal:</b>
  <%= @sucursal.codpostal %>
</p>

<p>
  <b>Delegacion:</b>
  <%= @sucursal.delegacion %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @sucursal.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @sucursal.estado %>
</p>


<%= link_to 'Edit', edit_sucursal_path(@sucursal) %> |
<%= link_to 'Back', sucursals_path %>
